/*img {*/
/*    -webkit-filter: drop-shadow(5px 5px 0 black)*/
/*    drop-shadow(-1px -1px 0 black);*/
/*    filter: drop-shadow(5px 5px 0 black)*/
/*    drop-shadow(-1px -1px 0 black);*/
/*}*/
.aptImage{
    /*max-height: 80vh;*/
    /*max-width: 90%;*/
    padding: 1em;
    margin-bottom: 1.6em;
    margin-top: 0;
    border: solid black 5px;
    background-color: white;

    /*-webkit-filter: drop-shadow(5px 5px 0 black)*/
    /*drop-shadow(-1px -1px 0 black);*/
    /*filter: drop-shadow(5px 5px 0 black)*/
    /*drop-shadow(-1px -1px 0 black);*/
}
.plan-div{

    /*max-width: 80vh;*/
}
.aptInfo {
    background-color: rgba(255,255,255,0.8);;
    padding: 1em;
    margin: 0 1em 1em;
    border: solid black 5px;
    width: 15em;
}
.cont-apt-num{
    width: fit-content;
    background-color: rgba(0,0,0,1);

}
.h1-num{
    color: white;
}
