img {
    -webkit-filter: drop-shadow(5px 5px 0 black)
    drop-shadow(-1px -1px 0 black);
    filter: drop-shadow(5px 5px 0 black)
    drop-shadow(-1px -1px 0 black);
}
.plan-div{
    margin: 1em;
}
