.main-window {
    background: #f0911c;
}
.content{
    min-height: calc(100vh - 90px)
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
.row{
    margin: 0;
}
.pageLabel{
    width: fit-content;
    font-family: 'Play', sans-serif;
}
.anchor{
    position: relative;
    top: -4em;
    visibility: hidden;
}
