.floor:hover {
    border: solid 1px black;
    fill-opacity: 0.5;
}
.floor {
    fill: black;
    fill-opacity: 0;
    /*stroke: black;*/
    stroke-width: 1;
    stroke-opacity: 1;
    fill-rule: evenodd;
    transition: all 0.3s;
}
.cont-building{
    position: relative;
    transition: all 0.5s;
    width: 96%;
    margin-top: 2%;
    height: 75vw
    /*display: inline-block;*/
}
.main_plan{
    /*width: 300px;*/
    /*position: absolute;*/
    /*top: 100px;*/
    /*left: 0;*/
}
svg {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}
path{
    pointer-events: auto;
}
.bplanImg {
    position: absolute;
    top: -12%;
    left: 2.3%;
    width: 100%;
    padding: 5.9%;
}
