.floor:hover {
    border: solid 1px black;
    fill-opacity: 0.5;
}
.floor {
    fill: black;
    fill-opacity: 0;
    /*stroke: black;*/
    stroke-width: 1;
    stroke-opacity: 1;
    fill-rule: evenodd;
    transition: all 0.3s;
}
.cont-building{
    position: relative;
    transition: all 0.5s;
    width: 96%;
    margin: 0 auto;
    height: 75vw;
    padding-left: 5%;
    margin-bottom: 2em;
}

.buildingSvg {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}
path{
    pointer-events: auto;
}
.bplanImg {
    position: absolute;
    width: 90%;
    background-color: rgba(255,255,255,0.5);
}
