.contacts-div{
    padding: 1em;
    /*width: 25em;*/
    /*border: solid 0.2em;*/
    margin-bottom: 2em;
}
.fb{
    background: rgb(49,64,255);
    /*background: linear-gradient(45deg, rgba(49,64,255,0.9615196420365021) 0%, rgba(152,37,246,1) 27%, rgba(255,53,247,1) 62%, rgba(255,25,146,1) 100%);*/
    border: none;
}
.link-icon{
    color: black;
    margin-right: 0.5em;
}
.contact-link {
    text-decoration: none!important;
    color: black!important;
}
.contact-link-div {
    /*transition: all 0.1s;*/
    width: fit-content;
    height: fit-content;
}
.contact-link-div:hover {
    /*transform: scale(0.97);*/
    transform: scale(1.01);
}
.contacts-container{
    padding-left: 1em;
}
