.contacts-container{
    background-color: white;
    padding: 1em;
    width: fit-content;
    border: solid 5px;
    margin-bottom: 2em;
}
.fb{
    background: rgb(49,64,255);
    /*background: linear-gradient(45deg, rgba(49,64,255,0.9615196420365021) 0%, rgba(152,37,246,1) 27%, rgba(255,53,247,1) 62%, rgba(255,25,146,1) 100%);*/
    border: none;
}
.link-icon{
    color: black;
    margin-right: 0.5em;
}
.contacts-div{
    background: rgba(255,255,255,0.5);
    padding: 2em 2em 0;
    /*width: fit-content;*/
    margin-bottom: 2em;
}
