.gallery-image {
    border-right: solid 5px black;
    border-left: solid 5px black;
    border-bottom: solid 5px black;
    /*padding: -1px;*/
    width: inherit;
}
.swiper-button-next,
.swiper-button-prev {
    /*background-color: white;*/
    /*background-color: rgba(255, 255, 255, 0.5);*/
    right:10px;
    padding: 30px;
    color: #fff !important;
    fill: white !important;
    stroke: white !important;
}
.swiper-pagination-progressbar{
    background-color: rgba(255, 255, 255, 0.7) !important;
}
.swiper-pagination-progressbar-fill{
    background-color: black !important;
}
.gallery-container{
    margin-bottom: 5%;
    margin-top: 2%;
    max-width: 140vh;
}
.swiper-slide{
    background-color: rgba(0, 0, 0, 0.5) !important;
}
.gallery-image-label{
    color: white;
    margin-left: 8px;
}
