.map-responsive{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}
.map-responsive > *{
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
}

.map{
    background: black;
    /*padding: 0.12em;*/
    border: none;
}
.location-container{
    background-color: white;
    padding: 1em 0;
    border: solid 0.2em;
    margin-bottom: 2em;
    /*font-family: 'Jura', sans-serif*/
}
hr.solid {
    border-top: 0.1em solid #000;
}
.h3-address {
    margin-top: 0.5em;
}
