.control-link{
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.2em;
}

.brand{
    color: rgba(255, 255, 255, 0.6);
    font-size: 2em;
}
.navbar-brand{
    font-size: x-large;
}
.navbar{
    border-bottom: solid 0.2em;
    font-family: 'Play', sans-serif;
}


