.unit:hover {
    border: solid 1px black;
    fill-opacity: 0.5;
}

.unit {
    fill: #f0911c;
    fill-opacity: 0;
    stroke: black;
    stroke-width: 13;
    stroke-opacity: 1;
    fill-rule: evenodd;
    transition: all 0.2s;
}

.unit-taken {
    fill: grey;
    fill-opacity: 0.5;
    stroke: black;
    stroke-width: 13;
    stroke-opacity: 1;
    fill-rule: evenodd;
}

.plan-container {
    position: relative;
    transition: all 0.5s;
    width: 96%;
    padding-top: 48%;
}

.plan-svg {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.plan-image {
    position: absolute;
    top: -5%;
    left: 2.1%;
    width: inherit;
    padding: 5.7%;
}

.floor-number {
    font-family: 'Play', sans-serif;
    padding: 0.2em 0.2em 0.2em 3.2em;
}
