/*img {*/
/*    -webkit-filter: drop-shadow(5px 5px 0 black)*/
/*    drop-shadow(-1px -1px 0 black);*/
/*    filter: drop-shadow(5px 5px 0 black)*/
/*    drop-shadow(-1px -1px 0 black);*/
/*}*/
.unit-image{
    max-width: 50vw;
    padding: 1em;
    margin-bottom: 1.6em;
    margin-top: 0;
    border: solid black 0.2em;
    background-color: rgba(255,255,255,0.9);
}
.unit-info {
    background-color: rgba(255,255,255,0.9);
    padding: 1em;
    margin: 0 1em 1em;
    border: solid black 0.2em;
    width: 15em;
}
.unit-info-container{
    width: fit-content;
    /*background-color: #f0911c;*/
    background-color: #000000;
    padding-bottom: 0.1em;
    padding-top:0.1em;
    margin-bottom: 0.6em;
}
.h1-num{
    color: white;
    width: 5em;
}
.unit-container{
    display: flex;
    justify-content: center;
    margin-top: 4em;
}
