.units-filters {
    background-color: white;
    padding: 1em;
    /*margin: 5px;*/
    margin-bottom: 1em;
    height: fit-content;
    border: solid 0.2em;
    /*width: fit-content;*/
}
.units-list-container {
    padding: 1em;
    /*margin: auto;*/
}
